<div class="container-fluid">
  <div class="row align-items-around justify-content-around">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <div class="col-md-4 text-center">
          <a routerLink="/profile">
            <button class="btn btn-success pull-right ">Profile</button>
          </a>
        </div>
        <div class="col-md-4 ">         
        </div>
        <div class="col-md-4 text-center">
          <a routerLink="/library"
            ><button class="btn btn-success pull-right ">Library</button>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
